<div class="head">
  <strong>this super cool Prince themed event is happening!</strong></h1>
</div>
<div class="info" ng-repeat="happening in vm.displayHappenings">
  <div>
    <p>{{ happening.happeningName }}</p>
    <p>{{ happening.venue }}</p>
    <p>{{ happening.city }}</p>
    <p>{{ happening.state }}</p>
    <p>{{ happening.date }}</p>
  </div>
</div>

<form>
 <div class="form-group">
    <label for="happening">happening</label>
    <input type="happening" class="form-control" id="happening" placeholder="happening">
  </div>

  <div class="form-group">
    <label for="venue">venue</label>
    <input type="venue" class="form-control" id="venue" placeholder="venue">
  </div>

  <div class="form-group">
    <label for="city">city</label>
    <input type="city" class="form-control" id="city" placeholder="city">
  </div>

  <div class="form-group">
    <label for="state">state</label>
    <input type="state" class="form-control" id="state" placeholder="state">
  </div>

  <div class="form-group">
    <label for="date">date</label>
    <input type="date" class="form-control" id="date" placeholder="date">
  </div>

    <button type="submit" class="btn btn-default">Add</button>
</form>
