<div class="head">
  <strong>so many fake Prince bands paying homage</strong>
</div>
  <p>The Time doesn't count! Sorry Morris.</p>
<div class="info" ng-repeat="show in vm.displayShows">
  <div class="infor">
    <p>{{ show.bandName }}</p>
    <p>{{ show.venue }}</p>
    <p>{{ show.city }}</p>
    <p>{{ show.state }}</p>
    <p>{{ show.date }}</p>
  </div>
</div>

<form>
 <div class="form-group">
    <label for="show">show</label>
    <input type="show" class="form-control" id="show" placeholder="show">
  </div>

  <div class="form-group">
    <label for="venue">venue</label>
    <input type="venue" class="form-control" id="venue" placeholder="Venue">
  </div>

  <div class="form-group">
    <label for="city">city</label>
    <input type="city" class="form-control" id="city" placeholder="city">
  </div>

  <div class="form-group">
    <label for="state">state</label>
    <input type="state" class="form-control" id="state" placeholder="state">
  </div>

  <div class="form-group">
    <label for="date">date</label>
    <input type="date" class="form-control" id="date" placeholder="date">
  </div>

    <button type="submit" class="btn btn-default">Add</button>
</form>

